Repository foray1010/chrome-manifest-loader: changes, and which lint-staged commands are due for each by the changed paths.
All: yarn prettier --write, yarn eslint --fix, yarn remark, sort-package-json

chore(deps): update commitlint monorepo to v16.2.4
  package.json
  yarn.lock
Due: yarn prettier --write, sort-package-json

chore(deps): lock file maintenance
  yarn.lock
Due: none

chore(deps): update dependency eslint to v8.15.0
  package.json
  yarn.lock
Due: yarn prettier --write, sort-package-json

chore(deps): update dependency husky to v8
  package.json
  yarn.lock
Due: yarn prettier --write, sort-package-json

chore(deps): update dependency @commitlint/cli to v16.3.0
  package.json
  yarn.lock
Due: yarn prettier --write, sort-package-json

chore(deps): update commitlint monorepo to v17
  package.json
  yarn.lock
Due: yarn prettier --write, sort-package-json

chore(deps): update dependency eslint to v8.16.0
  package.json
  yarn.lock
Due: yarn prettier --write, sort-package-json

chore(deps): update dependency lint-staged to v12.4.2
  package.json
  yarn.lock
Due: yarn prettier --write, sort-package-json

chore(deps): update dependency @commitlint/cli to v17.0.1
  package.json
  yarn.lock
Due: yarn prettier --write, sort-package-json

chore(deps): update dependency lint-staged to v12.5.0
  package.json
  yarn.lock
Due: yarn prettier --write, sort-package-json

chore(deps): update commitlint monorepo to v17.0.2
  package.json
  yarn.lock
Due: yarn prettier --write, sort-package-json

chore(deps): update dependency lint-staged to v13
  package.json
  yarn.lock
Due: yarn prettier --write, sort-package-json

chore(deps): update dependency eslint to v8.17.0
  package.json
  yarn.lock
Due: yarn prettier --write, sort-package-json

fix(deps): update dependency nanoid to v4
  package.json
  yarn.lock
Due: yarn prettier --write, sort-package-json

chore(deps): update dependency lint-staged to v13.0.1
  package.json
  yarn.lock
Due: yarn prettier --write, sort-package-json

chore(deps): update @foray1010/common-presets monorepo
  package.json
  yarn.lock
Due: yarn prettier --write, sort-package-json

chore: use cjs/mjs instead of yml for config files
  .eslintrc.cjs
  .eslintrc.yml
  .lintstagedrc.cjs
  .prettierrc.cjs
  .remarkrc.mjs
  .remarkrc.yml
Due: yarn prettier --write

chore: use root: true in eslint config
  .eslintrc.cjs
Due: none

chore!: drop node.js v12 and v17
  package.json
Due: yarn prettier --write, sort-package-json

chore: update lint-staged config
  .lintstagedrc.cjs
Due: none

chore: use mjs for lint-staged config
  .lintstagedrc.mjs
Due: none

Path conditions:
  yarn prettier --write: (((any of: *.js) or (any of: *.{json,yaml,yml})) or (any of: *.md)) or (any of: package.json)
  yarn eslint --fix: any of: *.js
  yarn remark: any of: *.md
  sort-package-json: any of: package.json
