Repository foray1010/chrome-manifest-loader: changes, and which lint-staged commands are due for each by the changed paths.
All: yarn prettier --write, yarn eslint --fix, yarn remark, sort-package-json

.lintstagedrc.yml:

'*.js':
  - 'yarn prettier --write'
  - 'yarn eslint --fix'
'*.{json,yaml,yml}':
  - 'yarn prettier --write'
'*.md':
  - 'yarn prettier --write'
  - 'yarn remark'
'package.json':
  - 'sort-package-json'
  - 'yarn prettier --write'

chore(deps): lock file maintenance
  yarn.lock
Due: none

chore: sort package.json via prettier
  .lintstagedrc.js
  package.json
  yarn.lock
Due: yarn prettier --write, yarn eslint --fix, sort-package-json

chore(deps): update commitlint monorepo to v9.1.1
  package.json
  yarn.lock
Due: yarn prettier --write, sort-package-json

ci: remove codecov
  .circleci/config.yml
Due: yarn prettier --write

chore(deps): update dependency remark-cli to v8.0.1
  package.json
  yarn.lock
Due: yarn prettier --write, sort-package-json

chore(deps): update dependency eslint to v7.5.0
  package.json
  yarn.lock
Due: yarn prettier --write, sort-package-json

chore(deps): update dependency @foray1010/remark-preset to v3.2.0
  package.json
  yarn.lock
Due: yarn prettier --write, sort-package-json

chore(deps): update dependency @foray1010/eslint-config to v3.6.0
  package.json
  yarn.lock
Due: yarn prettier --write, sort-package-json

chore(deps): update dependency eslint to v7.6.0
  package.json
  yarn.lock
Due: yarn prettier --write, sort-package-json

chore(deps): update dependency @foray1010/eslint-config to v3.7.0
  package.json
  yarn.lock
Due: yarn prettier --write, sort-package-json

chore(deps): update commitlint monorepo to v9.1.2
  package.json
  yarn.lock
Due: yarn prettier --write, sort-package-json

chore: update commitlint usage according to offical doc
  .huskyrc.yml
Due: yarn prettier --write

chore(deps): update dependency eslint to v7.7.0
  package.json
  yarn.lock
Due: yarn prettier --write, sort-package-json

chore(deps): update dependency @foray1010/eslint-config to v3.7.1
  package.json
  yarn.lock
Due: yarn prettier --write, sort-package-json
