Repository foray1010/chrome-manifest-loader: changes, and which lint-staged commands are due for each by the changed paths.
All: prettier-eslint --write, eslint --fix

.lintstagedrc.yml:

'*.js':
  - 'prettier-eslint --write'
  - 'eslint --fix'
  - 'git add'
'*.{json,md,yaml,yml}':
  - 'prettier-eslint --write'
  - 'git add'

chore(deps): update dependency eslint to v6.5.1
  package.json
  yarn.lock
Due: prettier-eslint --write

chore(deps): update dependency lint-staged to v9.4.1
  package.json
  yarn.lock
Due: prettier-eslint --write

chore(deps): update dependency husky to v3.0.8
  package.json
  yarn.lock
Due: prettier-eslint --write

chore(deps): lock file maintenance
  yarn.lock
Due: none

chore: migrate to @foray1010/eslint-config and prettier
  .eslintrc.yml
  .lintstagedrc.yml
  .prettierrc.yml
  package.json
  src/index.js
  yarn.lock
Due: prettier-eslint --write, eslint --fix

chore: use @foray1010/prettierrc
  .prettierrc.js
  .prettierrc.yml
  package.json
  src/index.js
  yarn.lock
Due: prettier-eslint --write, eslint --fix

chore: use common ignore files
  .lintstagedrc.yml
  package.json
  yarn.lock
Due: prettier-eslint --write

chore(deps): update dependency lint-staged to v9.4.2
  package.json
  yarn.lock
Due: prettier-eslint --write

chore: use @foray1010/prettier-config
  .prettierrc.js
  package.json
  yarn.lock
Due: prettier-eslint --write, eslint --fix

chore(deps): update @foray1010/common-presets monorepo
  package.json
  yarn.lock
Due: prettier-eslint --write

chore(deps): update dependency husky to v3.0.9
  package.json
  yarn.lock
Due: prettier-eslint --write

chore: use remark lint
  .circleci/config.yml
  .lintstagedrc.yml
  .remarkrc.yml
  README.md
  circle.yml
  package.json
  yarn.lock
Due: prettier-eslint --write

chore(deps): update dependency @foray1010/eslint-config to v1.7.0
  package.json
  yarn.lock
Due: prettier-eslint --write

chore: lint cjs
  package.json
Due: prettier-eslint --write

chore(deps): update dependency @foray1010/eslint-config to v1.8.0
  package.json
  yarn.lock
Due: prettier-eslint --write

chore: use sort-package-json
  .lintstagedrc.yml
  package.json
  yarn.lock
Due: prettier-eslint --write

chore(deps): update dependency eslint to v6.6.0
  package.json
  yarn.lock
Due: prettier-eslint --write

chore(deps): update dependency @foray1010/eslint-config to v1.8.3
  package.json
  yarn.lock
Due: prettier-eslint --write

chore(deps): update dependency @foray1010/eslint-config to v1.9.0
  package.json
  yarn.lock
Due: prettier-eslint --write

chore(deps): update dependency sort-package-json to v1.23.1
  package.json
  yarn.lock
Due: prettier-eslint --write
