Repository foray1010/chrome-manifest-loader: changes, and which lint-staged commands are due for each by the changed paths.
All: prettier-eslint --write, eslint --fix

chore(package): replace uuid by nanoid
  package.json
  src/index.js
  yarn.lock
Due: prettier-eslint --write, eslint --fix

style: coding style improvement
  src/index.js
Due: prettier-eslint --write, eslint --fix

fix: error when array contains require syntax
  src/index.js
Due: prettier-eslint --write, eslint --fix

chore(release): 0.1.2
  CHANGELOG.md
  package.json
Due: prettier-eslint --write

docs: update example for webpack 4
  README.md
Due: none

style: update README.md to follow markdownlint
  README.md
Due: none

refactor: replace lodash by ramda
  .commitlintrc.yml
  package.json
  src/index.js
  yarn.lock
Due: prettier-eslint --write, eslint --fix

style: align coding style
  src/index.js
Due: prettier-eslint --write, eslint --fix

feat: map browserslist config to manifest.json minimum_chrome_version
  README.md
  package.json
  src/index.js
  yarn.lock
Due: prettier-eslint --write, eslint --fix

chore(release): 0.2.0
  CHANGELOG.md
  package.json
Due: prettier-eslint --write

chore: add renovate config
  .renovaterc.json
Due: prettier-eslint --write

chore(deps): pin dependencies
  package.json
  yarn.lock
Due: prettier-eslint --write

chore(deps): update commitlint monorepo
  package.json
  yarn.lock
Due: prettier-eslint --write

chore(deps): update dependency husky to v1.3.1
  package.json
  yarn.lock
Due: prettier-eslint --write

chore(deps): update dependency lint-staged to v8.2.1
  package.json
  yarn.lock
Due: prettier-eslint --write

chore(deps): update eslint packages
  package.json
  yarn.lock
Due: prettier-eslint --write

chore(deps): update dependency lint-staged to v9
  package.json
  yarn.lock
Due: prettier-eslint --write

chore(deps): update commitlint monorepo to v8
  package.json
  yarn.lock
Due: prettier-eslint --write

chore(deps): update dependency prettier-eslint-cli to v5
  package.json
  yarn.lock
Due: prettier-eslint --write

chore(deps): update dependency husky to v3
  package.json
  yarn.lock
Due: prettier-eslint --write

chore: format markdown files
  .lintstagedrc.yml
  CHANGELOG.md
  README.md
Due: prettier-eslint --write

chore(deps): lock file maintenance
  yarn.lock
Due: none

chore(deps): update dependency eslint to v6.4.0
  package.json
  yarn.lock
Due: prettier-eslint --write

chore(deps): update commitlint monorepo to v8.2.0
  package.json
  yarn.lock
Due: prettier-eslint --write

chore(deps): update dependency lint-staged to v9.3.0
  package.json
  yarn.lock
Due: prettier-eslint --write

chore: use @foray1010/renovate-config
  .renovaterc.json
Due: prettier-eslint --write

chore(deps): update dependency lint-staged to v9.4.0
  package.json
  yarn.lock
Due: prettier-eslint --write

chore(deps): update dependency husky to v3.0.7
  package.json
  yarn.lock
Due: prettier-eslint --write

Path conditions:
  prettier-eslint --write: (any of: *.js) or (any of: *.{json,yaml,yml})
  eslint --fix: any of: *.js
