Repository foray1010/chrome-manifest-loader: changes, and which lint-staged commands are due for each by the changed paths.
All: yarn prettier --write, yarn eslint --fix, yarn remark, sort-package-json

.lintstagedrc.yml:

'*.js':
  - 'yarn prettier --write'
  - 'yarn eslint --fix'
'*.{json,yaml,yml}':
  - 'yarn prettier --write'
'*.md':
  - 'yarn prettier --write'
  - 'yarn remark'
'package.json':
  - 'sort-package-json'
  - 'yarn prettier --write'

chore: do not throw error when remark lints ignored files
  package.json
Due: yarn prettier --write, sort-package-json

refactor: remove unnecessary pinst
  package.json
  yarn.lock
Due: yarn prettier --write, sort-package-json

chore!: drop nodejs 14.17 and 18.11
  .circleci/config.yml
  package.json
Due: yarn prettier --write, sort-package-json

chore(deps): update @foray1010/common-presets monorepo (major)
  package.json
  src/index.js
  yarn.lock
Due: yarn prettier --write, yarn eslint --fix, sort-package-json

chore!: require node `^16.14.0 || >=18.12.0`
  .circleci/config.yml
  package.json
Due: yarn prettier --write, sort-package-json

chore(deps): update @foray1010/common-presets monorepo (major)
  .eslintrc.cjs
  eslint.config.mjs
  package.json
  yarn.lock
Due: yarn prettier --write, sort-package-json

chore: update eslint config
  package.json
  src/index.js
  yarn.lock
Due: yarn prettier --write, yarn eslint --fix, sort-package-json

chore: move to yarn v3
  .circleci/config.yml
  .gitignore
  .npmignore
  .yarnrc.yml
  README.md
  package.json
  yarn.lock
Due: yarn prettier --write, yarn remark, sort-package-json

chore: use .node-version to manage development nodejs version
  .node-version
Due: none

chore: sync editorconfig
  .editorconfig
Due: none

style: sync husky script styles
  .husky/commit-msg
  .husky/pre-commit
Due: none

chore(deps): update @foray1010/common-presets monorepo (major)
  .prettierrc.cjs
  .prettierrc.mjs
  package.json
  yarn.lock
Due: yarn prettier --write, sort-package-json

chore!: require node `^18.12.0 || >=20.9.0`
  .circleci/config.yml
  .node-version
  package.json
Due: yarn prettier --write, sort-package-json

chore(deps): update yarn to v4
  .yarnrc.yml
  package.json
  yarn.lock
Due: yarn prettier --write, sort-package-json

chore(deps): update all dependencies
  package.json
  src/index.js
  yarn.lock
Due: yarn prettier --write, yarn eslint --fix, sort-package-json

chore(deps): update all dependencies
  .husky/commit-msg
  .husky/pre-commit
  .node-version
  package.json
  src/index.js
  yarn.lock
Due: yarn prettier --write, yarn eslint --fix, sort-package-json
