Repository foray1010/chrome-manifest-loader: changes, and which lint-staged commands are due for each by the changed paths.
All: yarn prettier --write, yarn eslint --fix, yarn remark, sort-package-json

.lintstagedrc.yml:

'*.js':
  - 'yarn prettier --write'
  - 'yarn eslint --fix'
'*.{json,yaml,yml}':
  - 'yarn prettier --write'
'*.md':
  - 'yarn prettier --write'
  - 'yarn remark'
'package.json':
  - 'sort-package-json'
  - 'yarn prettier --write'

chore(deps): update dependency husky to v4.2.3
  package.json
  yarn.lock
Due: yarn prettier --write, sort-package-json

chore(deps): lock file maintenance
  yarn.lock
Due: none

chore(deps): update dependency sort-package-json to v1.40.0
  package.json
  yarn.lock
Due: yarn prettier --write, sort-package-json

chore(deps): update dependency lint-staged to v10.0.8
  package.json
  yarn.lock
Due: yarn prettier --write, sort-package-json

chore(deps): update dependency lint-staged to v10.0.9
  package.json
  yarn.lock
Due: yarn prettier --write, sort-package-json

chore(deps): update dependency prettier to v2
  package.json
  yarn.lock
Due: yarn prettier --write, sort-package-json

fixup! chore(deps): update dependency prettier to v2
  package.json
  src/index.js
  yarn.lock
Due: yarn prettier --write, yarn eslint --fix, sort-package-json

chore(deps): update dependency @foray1010/eslint-config to v2.2.1
  package.json
  yarn.lock
Due: yarn prettier --write, sort-package-json

chore(deps): update dependency @foray1010/remark-preset to v3
  package.json
  yarn.lock
Due: yarn prettier --write, sort-package-json

fixup! chore(deps): update dependency @foray1010/remark-preset to v3
  .lintstagedrc.js
  .lintstagedrc.yml
  package.json
  yarn.lock
Due: yarn prettier --write, yarn eslint --fix, sort-package-json

style: use endsWith to replace regex
  .lintstagedrc.js
Due: yarn prettier --write, yarn eslint --fix

fix(deps): update dependency nanoid to v3
  package.json
  yarn.lock
Due: yarn prettier --write, sort-package-json

chore(deps): update dependency lint-staged to v10.1.1
  package.json
  yarn.lock
Due: yarn prettier --write, sort-package-json

fixup! fix(deps): update dependency nanoid to v3
  src/index.js
Due: yarn prettier --write, yarn eslint --fix

chore(deps): update dependency @foray1010/remark-preset to v3.0.1
  package.json
  yarn.lock
Due: yarn prettier --write, sort-package-json

chore(deps): update dependency prettier to v2.0.4
  package.json
  yarn.lock
Due: yarn prettier --write, sort-package-json

chore(deps): update dependency sort-package-json to v1.41.0
  package.json
  yarn.lock
Due: yarn prettier --write, sort-package-json
